#aboutBody {
    display: flex;
    flex-flow: row wrap;  
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    margin: 0;
}

#aboutBody #aboutCopy p {
    font-size: 16px;
    text-align: left;
}

#aboutPic {
    width: 330px;
    height: auto;
}

#aboutCopy {
    width: 330px;
}

hr {
    margin: 50px 5%;
}


@media (max-width: 600px) {
    #aboutCopy {
        width: 280px;
    }
    #aboutPic {
        width: 280px;
        height: auto;
    }
    #aboutBody #aboutCopy p {
        font-size: 13px;
    }
}

