#disco-playlist-11761506 {
    width: 93%;
    height: 100vh;
}

#video-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#vid-container {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    width: 560px;
}

#vid-container > .music-vid {
    min-width: 100%;
    scroll-snap-align: start;
    width: 560px;
    height: 315px;
}

.vidBtn {
    height: 40px;
    color: black;
    border-radius: 0;
}

@media (max-width: 555px) {
    #video-parent-div{
        gap: 10px;
    }

    #vid-container > .music-vid {
        height: 249px;
    }
    .vidBtn {
        font-size: 10px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    #vid-container > .music-vid {
        height: 178px;
    }
}

@media (max-width: 380px) {
    #vid-container > .music-vid {
        height: 148px;
    }
}