
.showsBox {
    padding: 20px;
    padding-top: 0;
}

.lilLine {
    margin: auto;
    width: 270px;
}

.shows-header {
    font-size: 20px;
    margin: 0;
    margin-top: 4px;
}

.oneShow {
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 20px;
}

.oneShow p {
    margin: 0 7px;
}

.oneShow p:nth-child(n+2) {
    font-size: small;
}