h3 {
    margin-top: 0;
}
#video-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 560px;
}

#vid-container>.music-vid {
    width: 560px;
    height: 315px;
}

@media (max-width: 600px) {
    h3 {
        margin-top: 4px;
    }
    
    #vid-container>.music-vid {
        width: 345px;
        height: 194px;
        margin: auto;
    }
}

@media (max-width: 290px) {
    
    #vid-container>.music-vid {
        width: 280px;
        height: 157.5px;
        margin: auto;
    }
}