#works-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#works-container>a {
  color: black;
  text-decoration: none;
}

.work-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  /* transition: all .1s; */
}

.work-card:hover {
  background-color: rgb(219, 219, 219);
}

.work-card:active {
  transform: translate(1px, 1px);
}

.work-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.work-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left: 20px;
}

.work-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.work-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.work-details a:hover {
  color: #000;
  background-color: #f2f2f2;
}

@media (max-width: 850px) {
  #works-container {
    margin-top: 5px;
    gap: 5px;
  }

  .work-card {
    width: 97%;
    padding: 5px;
  }

  .work-card img {
    width: 120px;
    height: 120px;
  }

  .work-details {
    margin-left: 6px;
  }

  .work-details h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .work-details p {
    font-size: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }

}